<!-- Uppercase & Lowercase pipes -->

<h1>{{toUppercase | uppercase}}</h1>
<h1>{{toLowercase | lowercase}}</h1>

<!-- Number & Decimal Pipes -->

<h1>{{count | number}}</h1>
<h1>{{dcValue | number: '1.2-2'}}</h1>

<!-- Currency Pipes -->

<h1>{{price | currency: 'PHP' : false : '2.2-2'}}</h1>

<!-- Date Pipes -->

<h1>{{today | date: 'longDate'}}</h1>

<!-- JSON -->
<p>{{post | json}}</p>

<!-- Percent Pipe -->
<h3>{{87.190 | percent}}</h3>

<!-- Slice Pipe -->
<h3>{{postArray | slice : 2:4}}</h3>

<!-- Custom Pipe -->

<h1>{{userDetails.city | append}}</h1>
<h1>{{userDetails.city | appendCLI}}</h1>

<!-- Custom Pipes with Arguments -->

<p>{{dummyText | summary : 0}}</p>